
  $main-color: rgb(34,193,195);
  $main-color-opacity: rgb(34,193,195, 0.9);
  $dark-blue: #22085b;
  $dark-blue-bckg: rgb(34,8,91, 0.8);
  $deep-dark-blue: #10022d;
  $red-color: red;
  $grey-color: #615e6d;
  $white-color: #ffff;
  $main-linear-gradient:linear-gradient(216deg, rgba(34,193,195,1) 0%, rgba(45,144,253,1) 100%);
  $hover-linear-gradient: linear-gradient(216deg, rgb(25, 112, 113) 0%, rgb(3, 90, 184) 100%);

  $border-radius: 20px;


